<?- include('../common/header.ejs') -?>
<div id="body-wrapper">
    <?- include('../elements/left-nav.ejs') -?>
    <div id="content">
        <?- include('../elements/top-bar.ejs') -?>
        <div id="control-panel">
            <div id="control-body">
                <h2>评论</h2>
                <div class="split-line"><div class="split-corner">&nbsp;</div></div>
                <div id="search-bar">
                    <form method="get" action="/admin/comment">
                        <input type="text" class="input keyword" id="keyword" name="keyword" placeholder="搜索..." value="<?= curKeyword ?>" />
                        <input type="submit" class="button" value="搜索评论" />
                    </form>
                </div>
                <div class="table-nav clear-both">
                    <form id="form-filter" method="get" action="/admin/comment">
                        <label><input type="button" class="button" value="批准" /></label>
                        <label><input type="button" class="button" value="驳回" /></label>
                        <label><input type="button" class="button" value="标记垃圾评论" /></label>
                        <label><input type="button" class="button button-spacing" value="删除" /></label>
                        <label><select class="input" name="status">
                            <option value="">所有状态</option>
                            <? commentStatus.forEach(function (status){ ?>
                            <option value="<?= status.name ?>"<? if(curStatus === status.name){?> selected="selected"<? } ?>><?= status.desc ?></option>
                            <? }) ?>
                        </select></label>
                        <label><input type="submit" class="button" value="筛选" /></label>
                    </form>
                </div>
                <div>
                    <table class="list-table">
                        <thead>
                            <tr>
                                <th class="column-check"><input type="checkbox" class="checkAll" /></th>
                                <th width="20%">评论内容</th>
                                <th width="15%">文章</th>
                                <th width="15%">邮箱</th>
                                <th width="12%">日期</th>
                                <th width="10%">作者</th>
                                <th width="8%">状态</th>
                                <th>操作</th>
                            </tr>
                        </thead>
                        <tbody>
                            <? if(comments && comments.length > 0) { ?>
                            <? comments.forEach(function(comment, rowIdx){ ?>
                            <tr<? if(rowIdx % 2 === 0) { ?> class="alternate"<? } ?>>
                                <td class="column-check"><input type="checkbox" class="checkRow" /></td>
                                <td><?= comment.commentContent ?></td>
                                <td><a href="<?= comment.post.postGuid ?>"><?= comment.post.postTitle ?></a></td>
                                <td><?= comment.commentAuthorEmail ?></td>
                                <td><?= comment.commentCreatedText ?></td>
                                <td><?= comment.commentAuthor ?></td>
                                <td><a href="/admin/comment?status=<?= comment.commentStatus ?>"><?= comment.commentStatusDesc ?></a></td>
                                <td class="m-col-operate">
                                    <? if(comment.commentStatus === 'pending'){ ?><a class="btn-approve" data-id="<?= comment.commentId ?>" href="javascript:">批准</a><a class="btn-reject" data-id="<?= comment.commentId ?>" href="javascript:">驳回</a><a class="btn-spam" data-id="<?= comment.commentId ?>" href="javascript:">垃圾评论</a><? } ?><a class="btn-reply" href="/admin/comment/<?= comment.commentId ?>?action=reply">回复</a><a class="btn-edit" href="/admin/comment/<?= comment.commentId ?>?action=edit">编辑</a><a class="btn-delete" data-id="<?= comment.commentId ?>" href="javascript:">删除</a>
                                </td>
                            </tr>
                            <? }) ?>
                            <? } else { ?>
                                <tr class="alternate">
                                    <td colspan="8">无记录</td>
                                </tr>
                            <? } ?>
                        </tbody>
                    </table>
                </div>
                <?- include('../elements/pagination.ejs') -?>
            </div>
        </div>
        <input type="hidden" name="_csrf" id="csrfToken" value="<?- token ?>" />
    </div>
    <?- include('../elements/page-footer.ejs') -?>
</div>
<script type="text/javascript" src="/js/common.js"></script>
<script type="text/javascript" src="/js/admin/comment.js"></script>
<?- include('../common/footer.ejs') -?>
