<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome...</title>
</head>
<body>
<?- 'Posts\' list: ' ?><br/>
<ul>
    <? archiveDates.forEach(function(item){item = item.get() ?>
    <li><?- item.dateTitle + ', ' + item.count ?></li>
    <? }) ?>
</ul>
<ul>
    <? posts.forEach(function(item) { ?>
    <li>
        <div><?- item.post.postTitle ?>, <?- item.meta.postAuthor ?></div>
        <div>
            <?- 'c: ' + item.categories.length ?>,
            <? item.categories.forEach(function(cat) { ?>
            <span style="margin-right: 10px;"><?- cat.name ?></span>
            <? }) ?>
        </div>
        <div>
            <?- 'd: ' + item.tags.length ?>,
            <? item.tags.forEach(function(tag) { ?>
            <span style="margin-right: 10px;"><?- tag.name ?></span>
            <? }) ?>
        </div>
    </li>
    <? }) ?>
</ul>
</body>
</html>
