<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>出错啦~</title>
    <style type="text/css">
        .m-error-content {
            text-indent: 2em;
        }
    </style>
</head>
<body>
<h2><span>错误码：</span></h2>
<p class="m-error-content"><?- code ?></p>
<h2><span>请求状态：</span></h2>
<p class="m-error-content"><?- status ?></p>
<h2><span>错误消息：</span></h2>
<p class="m-error-content"><?- message ?></p>
</body>
</html>
