<? if(pageBar && pageBar.paginator) { ?>
<div class="pageBar">
    <ul class="pageList">
        <? if(pageBar.paginator.curPage > 1){ ?><li><a href="<?= pageBar.linkUrl + pageBar.paginator.prevPage + pageBar.linkParam ?>" title="上一页">Prev</a></li><? } ?>
        <? if(pageBar.paginator.totalPage < 10) { ?>
            <? for(var page = 1; page <= pageBar.paginator.totalPage; page += 1){ ?>
                <? if(page === pageBar.paginator.curPage){ ?>
                    <li><span class="curPage"><?= page ?></span></li>
                <? } else { ?>
                    <li><a href="<?= pageBar.linkUrl + page + pageBar.linkParam ?>" title="第<?= page ?>页(<?= ((page - 1) * pageBar.paginator.pageLimit + 1) + '-' + (page * pageBar.paginator.pageLimit > pageBar.paginator.total ? pageBar.paginator.total : page * pageBar.paginator.pageLimit) ?>)"><?= page ?></a></li>
                <? } ?>
            <? } ?>
        <? } else { ?>
            <? if(pageBar.paginator.curPage <= 5) { ?>
                <? for(var page = 1; page <= 6; page += 1){ ?>
                    <? if(page === pageBar.paginator.curPage){ ?>
                        <li><span class="curPage"><?= page ?></span></li>
                    <? } else { ?>
                        <li><a href="<?= pageBar.linkUrl + page + pageBar.linkParam ?>" title="第<?= page ?>页(<?= ((page - 1) * pageBar.paginator.pageLimit + 1) + '-' + (page * pageBar.paginator.pageLimit) ?>)"><?= page ?></a></li>
                    <? } ?>
                <? } ?>
                <li class="pageSplit"><span>...</span></li>
                <li><a href="<?= pageBar.linkUrl + pageBar.paginator.totalPage + pageBar.linkParam ?>" title="第<?= pageBar.paginator.totalPage ?>页(<?= ((pageBar.paginator.totalPage - 1) * pageBar.paginator.pageLimit + 1) + '-' + pageBar.paginator.total ?>)"><?= pageBar.paginator.totalPage ?></a></li>
            <? } else if(pageBar.paginator.curPage >= pageBar.paginator.totalPage - 4) { ?>
                <li><a href="<?= pageBar.linkUrl + 1 + pageBar.linkParam ?>" title="第1页(<?= 1 + '-' + pageBar.paginator.pageLimit ?>)">1</a></li>
                <li class="pageSplit"><span>...</span></li>
                <? for(var page = pageBar.paginator.totalPage - 6; page <= pageBar.paginator.totalPage; page += 1){ ?>
                    <? if(page === pageBar.paginator.curPage){ ?>
                        <li><span class="curPage"><?= page ?></span></li>
                    <? } else { ?>
                        <li><a href="<?= pageBar.linkUrl + page + pageBar.linkParam ?>" title="第<?= page ?>页(<?= ((page - 1) * pageBar.paginator.pageLimit + 1) + '-' + (page * pageBar.paginator.pageLimit > pageBar.paginator.total ? pageBar.paginator.total : page * pageBar.paginator.pageLimit) ?>)"><?= page ?></a></li>
                    <? } ?>
                <? } ?>
            <? } else { ?>
                <li><a href="<?= pageBar.linkUrl + 1 + pageBar.linkParam ?>" title="第1页(<?= 1 + '-' + pageBar.paginator.pageLimit ?>)">1</a></li>
                <li class="pageSplit"><span>...</span></li>
                <? for(var page = pageBar.paginator.curPage - 3; page <= pageBar.paginator.curPage + 3; page += 1){ ?>
                    <? if(page === pageBar.paginator.curPage){ ?>
                        <li><span class="curPage"><?= page ?></span></li>
                    <? } else { ?>
                        <li><a href="<?= pageBar.linkUrl + page + pageBar.linkParam ?>" title="第<?= page ?>页(<?= ((page - 1) * pageBar.paginator.pageLimit + 1) + '-' + (page * pageBar.paginator.pageLimit) ?>)"><?= page ?></a></li>
                    <? } ?>
                <? } ?>
                <li class="pageSplit"><span>...</span></li>
                <li><a href="<?= pageBar.linkUrl + pageBar.paginator.totalPage + pageBar.linkParam ?>" title="第<?= pageBar.paginator.totalPage ?>页(<?= ((pageBar.paginator.totalPage - 1) * pageBar.paginator.pageLimit + 1) + '-' + pageBar.paginator.total ?>)"><?= pageBar.paginator.totalPage ?></a></li>
            <? } ?>
        <? } ?>
        <? if(pageBar.paginator.curPage < pageBar.paginator.endPage){ ?><li><a href="<?= pageBar.linkUrl + pageBar.paginator.nextPage + pageBar.linkParam ?>" title="下一页">Next</a></li><? } ?>
    </ul>
</div>
<? } ?>
